# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# all portrait_repo related data / test files
2019-11-rest-api/webapp/portrait_repo/*

# executable for task-app
2020-03-gui-task-app/taskApp

2020-03-another-covid-19-api/cvirus_study
